<mat-sidenav-container class="sidenav-container" [class.dark-theme]="isDark">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    style="z-index: 1"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="align-items: center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async" 
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>konnect</span>
    </mat-toolbar>
    <!-- ? below button will help us change the theme at run-time. -->
    <button
      mat-icon-button
      (click)="toggleTheme()"
      matTooltip="Toggle dark theme"
    >
      <mat-icon> brightness_6 </mat-icon>
    </button>

    <!-- ? below menu will help us change the color at run-time. -->

    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="menu-button"
      matTooltip="Select a theme color"
    >
      {{ themeColor }}
    </button>

    <ng-template #noRadio> radio_button_unchecked </ng-template>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="themeColor = 'primary'">
        <mat-icon [color]="themeColor === 'primary' ? 'primary' : 'no-color'">
          <ng-container *ngIf="themeColor === 'primary'; else noRadio"
            >radio_button_checked</ng-container
          >
        </mat-icon>
        Primary
      </button>
      <button mat-menu-item (click)="themeColor = 'warn'">
        <mat-icon [color]="themeColor === 'warn' ? 'warn' : 'no-color'">
          <ng-container *ngIf="themeColor === 'warn'; else noRadio"
            >radio_button_checked</ng-container
          >
        </mat-icon>
        Warn
      </button>
      <button mat-menu-item (click)="themeColor = 'accent'">
        <mat-icon [color]="themeColor === 'accent' ? 'accent' : 'no-color'">
          <ng-container *ngIf="themeColor === 'accent'; else noRadio"
            >radio_button_checked</ng-container
          >
        </mat-icon>
        Accent
      </button>
    </mat-menu>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>